%h4= 'Родительские категории'
= render partial: 'parent', collection: [@category.ancestors], as: :parents

- if @category.link
  %h4= "Подключена к"
  =link_to @category.link, metadata_category_path(@category.link)

.row
  .col-xs-9
    %h4='Категория'
    %h2= @category

  .col-xs-3
    %p= "#{link_to 'Редактировать', edit_metadata_category_path(@category, remote: false)} | #{link_to 'Удалить', metadata_category_path(@category), method: :delete, data: { confirm: 'Вы уверены?' }} | #{link_to 'Вернуться', metadata_categories_path}".html_safe

.row
  .col-xs-6
    %h4='Аттрибуты'
    %ul.js-sortable-wrapper{data: { path: update_category_property_position_metadata_categories_path  }}
      - @category.properties.each do |property|
        %li.js-sortable-item{data: { id: @category.category_properties.where(:property_id => property.id).first.id }}= "#{link_to property, metadata_category_property_path(@category, property)} | #{link_to 'Редактировать', edit_metadata_category_property_path(@category, property) } | #{link_to 'Удалить аттрибут', metadata_category_property_path(@category, property), method: :delete, data: { confirm: 'Вы уверены?' }} (#{property.kind_text}) <span class='glyphicon glyphicon-resize-vertical js-handle-sortable sortable' aria-hidden='true'></span>".html_safe
    - unless @category.has_children?
      =link_to 'Управление атрибутами', metadata_category_parent_params_path(@category, id: @category)


    .categories.js-categories
      %h4='Вложенные категории'

      %ul.js-children
        = render partial: 'children', locals: { category: @category }

      .dialog.js-dialog-to-add
      .js-link-to-edit
      .js-link-to-destroy
      .js-link-to-add
        =link_to 'Добавить вложенную категорию', new_metadata_category_category_path(@category, parent_id: params[:id]), remote: true
      %hr
      .js-link-to-add-existed
        =link_to 'Добавить существующую категорию', metadata_category_add_existed_path(@category)


  .col-xs-6
    %h4='Добавление нового аттрибута'
    = simple_form_for :property, url: new_metadata_category_property_path(@category), method: :get do |f|
      = f.input :kind, as: :select, collection: Property.kind.options, include_blank: true, selected: nil, input_html: { class: 'js-properties-types' }

      = f.submit 'Добавить', class: 'btn btn-success'

