.row
  .col-xs-12
    %p= @category
    %p= link_to 'Редактировать', edit_metadata_category_path(@category)
    %p= link_to 'Удалить', metadata_category_path(@category), method: :delete, data: { confirm: 'Вы уверены?' }

    %ul
    - @category.properties.each do |property|
      %li= property

    %h4='Добавление нового аттрибута'
    = simple_form_for :property, url: new_metadata_category_property_path(@category), method: :get do |f|
      = f.input :type, as: :select, collection: Property.types, include_blank: true, selected: nil, input_html: { class: 'js-properties-types' }

      = f.submit
