%p= render_breadcrumbs

%h3= @category

- unless @category.inserted.present?
  .row
    .col-xs-12
      = simple_form_for :search, url: category_path(@category), method: :get do |f|
        .row
          %ul
            - if @category.all_properties.any?
              .col-xs-2
                - @category.all_properties.each do |property|
                  %li
                    %h4= property
                    - if property.kind.to_s != 'hierarch_limited_list'
                      = f.input :list_items,
                        label: false,
                        as: property.category_properties.where(:category_id => @category.id).first.show_on_filter_as,
                        input_html: { multiple: true },
                        collection: property.list_items,
                        checked: params.try(:[], 'search').try(:[], 'list_items').to_a.compact,
                        selected: params.try(:[], 'search').try(:[], 'list_items').to_a.compact

                    - else
                      - property.hierarch_list_items.each do |parent|
                        = parent
                        = f.input :hierarch_list_items,
                          as: property.category_properties.where(:category_id => @category.id).first.show_as,
                          label: false,
                          input_html: { multiple: true },
                          collection: parent.children,
                          selected: params.try(:[], 'search').try(:[], 'hierarch_list_items').to_a.compact,
                          checked: params.try(:[], 'search').try(:[], 'hierarch_list_items').to_a.compact

        = f.submit 'Search'

- if @category.inserted.present?
  - @category.inserted.each do |child|
    = link_to child, category_path(child)
- else
  %ul
  - @adverts.each do |advert|
    %li= link_to advert.title, advert_path(advert)
