%p= render_breadcrumbs

%h3= @category

- unless @category.children.present?
  .row
    .col-xs-12
      = simple_form_for :search, url: category_path(@category), method: :get do |f|
        .row
          %ul
            - if @category.all_properties.any?
              .col-xs-2
                %li
                  - @category.all_properties.each do |property|
                    %h3= property
                    - if property.kind.to_s != 'hierarch_limited_list'
                      = f.input :list_items,
                        as: :check_boxes,
                        collection: property.list_items,
                        checked: params.try(:[], 'search').try(:[], 'list_items').to_a.compact

                    - if property.kind.to_s == 'hierarch_limited_list'
                      - property.hierarch_list_items.each do |parent|
                        = parent
                        = f.input :hierarch_list_items,
                          as: :check_boxes,
                          collection: parent.children,
                          checked: params.try(:[], 'search').try(:[], 'hierarch_list_items').to_a.compact

        = f.submit 'Search'

- if @category.children.present?
  - @category.children.each do |child|
    = link_to child, category_path(child)
- else
  %ul
  - @adverts.each do |advert|
    %li= link_to advert.title, advert_path(advert)
